<h1>All Profiles</h1>

<%= search_form_for @q do |f| %>
  <div>
    <%= f.label :gender_cont, 'Gender' %>
    <%= f.select :gender_eq,  Profile.genders.to_a.map { |w| [w[0], w[1]] }, {:include_blank => true} %>
  </div>
  <div>
    <%= f.label :category_cont, 'Category' %>
    <%= f.select :category_eq,  Profile.categories.to_a.map { |w| [w[0], w[1]] }, {:include_blank => true} %>
  </div>
  <div>
    <%= f.submit 'Filter' %>
  </div>
<% end %>

<% @profiles.each do |profile| %>
  <div>
    <%= link_to "Start Chat with #{profile.name}", profile_chats_path(profile_id: profile.id) %>
  </div>
<% end %>

<%= paginate @profiles %>
